page-forgot-password {
    .toolbar-background {
        background: #fff;
    }
    ion-icon.back-button-icon {
        color: #F26618;
    }
    .header-md::after {
        position: unset;
    }
    .forgot-txt {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin: auto;
        margin-bottom: 20px;
    }
    .details {
        color: #999;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    ion-input {
        border: 1px solid #ddd;
        padding: 0px 10px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .send-email {
        background: #F26618;
        border: 1px solid #F26618;
        color: #fff;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        margin-top: 0px;
    }
}
