page-search {
    .bg-search{
        background: #F26618;
        text-align: center;
        height: 60px;
        padding: 10px 10px;
    }
    .searchTab{
        background: #fff;
        width: 100%;
        border: none;
        text-align: center;
    }
    .top-btn {
        color: #fff;
        background: none;
        font-size: 14px;
    }
    #map {
        width: 100%;
        height: 100%;
        position : fixed !important;
    }

    .contentMarkerImage{
        margin: auto; 
        margin-top: 10px;
        width:150px;
        height:150px;
    } 

    .contentTableMarker {
        display: table-cell;
    }

    .contentTextMarker {
        text-align: center;
    }

    .buttonInMarker {
        width: 100%;
        text-align: center;
        position: relative;
        top: 5px;
    }
    .button{
        width: 100px;
        height: 30px;
        background: orangered;
        border-radius: 12px;
    }
    .info-window img {
        width: 100%;
        height: 100%;
    }
    .back-button.show-back-button {
        display: none;
    }
}
